<html>
<head>
<h1>Wedding Task List</h1>
</head>
<body>
<form action="/" method="post">
  <input type="text" placeholder="Wedding Task" name="wedding_task">
  <input type="submit" value="Add Task">
</form>

<% wedding_tasks.each do |task| %>
<%= task[:name] %>
  <%end%>
</body>
</html>